@use "../layout/base" as *

.title-bg
  display: grid
  justify-content: center
  align-content: center
  position: relative
  text-wrap: balance
  height: 223px
  mix-blend-mode: darken

  @include font(2em, 700, #ffffff)

  @media (max-width: 900px)
    height: 111px
    font-size: 1em

  &-img
    height: 100%
    width: 100%
    object-fit: cover
    position: absolute
    z-index: -1
    border-radius: 10px
    filter: brightness(60%)

  &-h2
    margin-left: 1rem
    margin-right: 1rem
    @include borderText(1px)
