@use "../layout/base" as *

.title-bg
  display: grid
  justify-content: center
  align-content: center
  position: relative
  text-wrap: balance
  height: 223px
  mix-blend-mode: darken

  @include font(1.5em, 700, #ffffff)

  img
    height: 100%
    width: 100%
    object-fit: cover
    position: absolute
    z-index: -1
    border-radius: 10px
    filter: brightness(60%)

  h2
    margin-left: 1rem
    margin-right: 1rem

@media (max-width: 700px)
  .title-bg
    height: 111px
    font-size: 1em
