#error-page
  display: grid
  padding: 0 1rem
  justify-items: center
  height: 100%
  text-wrap: balance

  a
    color: #000000

  p
    font-size: 2em
    font-weight: 500
    color: #FF6060
    text-align: center

  img
    max-width: fit-content
    width: 100%
    height: auto

@media (max-width: 700px)
  #error-page
    img
      width: 60%
    p
      font-size: 1em
    a
      font-size: 0.7em
