$base-color-primary: #FF6060
$base-color-secondary: #F6F6F6
$base-color-tertiary: #C4C4C4
$base-color-quaternary: #E3E3E3

@mixin font($size, $weight, $color)
  font-size: $size
  font-weight: $weight
  color: $color

@mixin borderText($ep)
  text-shadow: $ep $ep $ep rgb(0, 0, 0), (-$ep) (-$ep) $ep rgb(0, 0, 0), $ep (-$ep) $ep rgb(0, 0, 0), (-$ep) $ep $ep rgb(0, 0, 0), $ep 0 $ep rgb(0, 0, 0), (-$ep) 0 $ep rgb(0, 0, 0), 0 (-$ep) $ep rgb(0, 0, 0), 0 $ep $ep rgb(0, 0, 0)
