
.carrousel
  display: grid
  justify-content: center
  align-content: center
  position: relative
  height: 415px
  align-items: center
  overflow: hidden

  img
    height: 100%
    width: 100%
    object-fit: cover
    position: absolute
    z-index: -1
    border-radius: 25px

    margin-right: 0%

    transition: transform 0.6s ease-in-out

  input
    position: absolute
    cursor: pointer
    height: 6rem

  .left
    transform: rotate(-90deg)
    left: 0

  .right
    transform: rotate(90deg)
    right: 0

  .numpicture
    bottom: 1em
    color: #ffffff
    position: absolute
    left: 50%
    font-size: 1.5em

  .hidden
    width: 0
    margin-right: -100%

@media (max-width: 700px)
  .carrousel
    height: 255px
    input
      height: 3rem
