.content-logement
  .tag-list
    display: grid
    grid-auto-flow: column
    justify-content: start
    gap: 1rem

  .collapse-list
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 4rem
