@use "../layout/base" as *

.content-logement
  display: grid
  gap: 2rem
  margin: 0 3rem

  .tag-list
    display: grid
    grid-auto-flow: column
    justify-content: start
    gap: 1rem

  .collapse-list
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 4rem

  h2
    @include font(2em, 500, $base-color-primary)

  .ratinguser
    display: grid
    grid-auto-flow: column
    justify-content: space-between

@media (max-width: 700px)
  .content-logement
    margin: 0 1rem

    .collapse-list
      grid-template-columns: inherit
      gap: inherit
